html, body {
  font-family: 'Arial', sans-serif;
}

.todoitem-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.todoitem-enter.todoitem-enter-active {
  opacity: 1;
}

.todoitem-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.todoitem-leave.todoitem-leave-active {
  opacity: 0.01;
}